<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Artists</title>
	<meta charset="UTF-8">
	<meta name="description" content="Quick music">
	<meta name="keywords" content="music, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Favicon -->
	<link href="img/favicon.ico.ico" rel="shortcut icon"/>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
 
	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/owl.carousel.min.css"/>
	<link rel="stylesheet" href="css/slicknav.min.css"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="css/stylehome.css"/>


	
</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section clearfix">
		<a href="index" class="site-logo">
			<img src="img/logo.png" alt="">
		</a>

		<ul class="main-menu">
			<li><a href="index">Home</a></li>
			<li><a href="about">About</a></li>
			<li><a href="contact">Contact</a></li>
		</ul>
	</header>
	<!-- Header section end -->

	<!-- Player section -->
	<section class="player-section set-bg" data-setbg="img/player-bg.jpg">
		<div class="player-box">
			<div class="tarck-thumb-warp">
				<div class="tarck-thumb">
					<img src="img/khaled.jpg" alt="">
				</div>
			</div>
			<div class="col-lg-9">
				<div class="row">
					<div class="col-lg-8" style="padding-right: 190px;">
						<div class="song-details-box">
							<h3>About the Artist</h3>
							<div class="artist-details">
								<div class="ad-text">
									<h4>Khalid</h4>
									<span>Artist/ Songwriter</span>
									<p>Just out of high when he made his commercial debut with the ballad "Location"(2016), non-traditional R&B singer and songwriter Khalid attracted a large following with an undelonstrative but heartfelt vocal style and a down-to- earth perspective.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="song-details-box">
							<h3>Song Details</h3>
							<ul>
								<li><strong>Genre:</strong><span>electro, drum & base, minimal</span></li>
								<li><strong>Tags:</strong><span>quitar, piano, music, electronic music, minimal, chill music, pop, cultural, live, popular</span></li>
								<li><strong>Instruments:</strong><span>quitar, piano, drums, bass</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</section>
	<!-- Player section end -->
	
	<!-- Category section -->
	<section class="category-section spad">
		<div class="container-fluid">
			<div class="section-title">
				<h2>Albums</h2>
			</div>
			<div class="container">
				<div class="category-links">
					<a href="" class="active">Our Artists</a>
				</div>
			</div>
			<div class="category-items">
				<div class="row">
					<div class="col-md-4">
						<div class="category-item">
							<img src="img/playlist/khalid1.jpg" alt="">
							<div class="ci-text">
								<h4>Khalid</h4>
								<p>American Teen</p>
							</div>
							<a href="khalid-american-teen" class="ci-link"><i class="fa fa-play"></i></a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="category-item">
							<img src="img/playlist/khalid2.jpg" alt="">
							<div class="ci-text">
								<h4>Kalid</h4>
								<p>Suncity</p>
							</div>
							<a href="/khalid-suncity" class="ci-link"><i class="fa fa-play"></i></a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="category-item">
							<img src="img/playlist/khalid3.jpg" alt="">
							<div class="ci-text">
								<h4>Khalid</h4>
								<p>K3*</p>
							</div>
							<a href="khalid-k3*" class="ci-link"><i class="fa fa-play"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Category section end -->

	<!-- Songs section  -->
	<section class="songs-section">
		<div class="container">
			<!-- song -->
			<div class="song-item">
				<div class="row">
					<div class="col-lg-4">
						<div class="song-info-box">
							<img src="img/songs/khalid1.jpg" alt="">
							<div class="song-info">
								<h4>Khalid</h4>
								<p>American Teen</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="single_player_container">
							<div class="single_player">
								<div class="jp-jplayer jplayer" data-ancestor=".jp_container_1" data-url="music-files/American-teen.mp3"></div>
								<div class="jp-audio jp_container_1" role="application" aria-label="media player">
									<div class="jp-gui jp-interface">

										<!-- Player Controls -->
										<div class="player_controls_box">
											<button class="jp-prev player_button" tabindex="0"></button>
											<button class="jp-play player_button" tabindex="0"></button>
											<button class="jp-next player_button" tabindex="0"></button>
											<button class="jp-stop player_button" tabindex="0"></button>
										</div>
										<!-- Progress Bar -->
										<div class="player_bars">
											<div class="jp-progress">
												<div class="jp-seek-bar">
													<div>
														<div class="jp-play-bar"><div class="jp-current-time" role="timer" aria-label="time">0:00</div></div>
													</div>
												</div>
											</div>
											<div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
										</div>
									</div>
									<div class="jp-no-solution">
										<span>Update Required</span>
										To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2">
						<div class="songs-links">
							<a href=""><img src="img/icons/p-1.png" alt=""></a>
							<a href=""><img src="img/icons/p-2.png" alt=""></a>
							<a href=""><img src="img/icons/p-3.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>
			<!-- song -->
			<div class="song-item">
				<div class="row">
					<div class="col-lg-4">
						<div class="song-info-box">
							<img src="img/songs/khalid1.jpg" alt="">
							<div class="song-info">
								<h4>Khalid</h4>
								<p>Coaster</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="single_player_container">
							<div class="single_player">
								<div class="jp-jplayer jplayer" data-ancestor=".jp_container_2" data-url="music-files/Khalid-Coaster.mp3"></div>
								<div class="jp-audio jp_container_2" role="application" aria-label="media player">
									<div class="jp-gui jp-interface">

										<!-- Player Controls -->
										<div class="player_controls_box">
											<button class="jp-prev player_button" tabindex="0"></button>
											<button class="jp-play player_button" tabindex="0"></button>
											<button class="jp-next player_button" tabindex="0"></button>
											<button class="jp-stop player_button" tabindex="0"></button>
										</div>

										<!-- Progress Bar -->
										<div class="player_bars">
											
											<div class="jp-progress">
												<div class="jp-seek-bar">
													<div>
														<div class="jp-play-bar"><div class="jp-current-time" role="timer" aria-label="time">0:00</div></div>
													</div>
												</div>
											</div>
											<div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
										</div>
									</div>
									<div class="jp-no-solution">
										<span>Update Required</span>
										To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2">
						<div class="songs-links">
							<a href=""><img src="img/icons/p-1.png" alt=""></a>
							<a href=""><img src="img/icons/p-2.png" alt=""></a>
							<a href=""><img src="img/icons/p-3.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>
			<!-- song -->
			<div class="song-item">
				<div class="row">
					<div class="col-lg-4">
						<div class="song-info-box">
							<img src="img/songs/khalid1.jpg" alt="">
							<div class="song-info">
								<h4>Khalid</h4>
								<p>Location</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="single_player_container">
							<div class="single_player">
								<div class="jp-jplayer jplayer" data-ancestor=".jp_container_3" data-url="music-files/Khalid-Location.mp3"></div>
								<div class="jp-audio jp_container_3" role="application" aria-label="media player">
									<div class="jp-gui jp-interface">

										<!-- Player Controls -->
										<div class="player_controls_box">
											<button class="jp-prev player_button" tabindex="0"></button>
											<button class="jp-play player_button" tabindex="0"></button>
											<button class="jp-next player_button" tabindex="0"></button>
											<button class="jp-stop player_button" tabindex="0"></button>
										</div>

										<!-- Progress Bar -->
										<div class="player_bars">
											
											<div class="jp-progress">
												<div class="jp-seek-bar">
													<div>
														<div class="jp-play-bar"><div class="jp-current-time" role="timer" aria-label="time">0:00</div></div>
													</div>
												</div>
											</div>
											<div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
										</div>
									</div>
									<div class="jp-no-solution">
										<span>Update Required</span>
										To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2">
						<div class="songs-links">
							<a href=""><img src="img/icons/p-1.png" alt=""></a>
							<a href=""><img src="img/icons/p-2.png" alt=""></a>
							<a href=""><img src="img/icons/p-3.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>
			<!-- song -->
			<div class="song-item">
				<div class="row">
					<div class="col-lg-4">
						<div class="song-info-box">
							<img src="img/songs/khalid1.jpg" alt="">
							<div class="song-info">
								<h4>Khalid</h4>
								<p>Saved</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="single_player_container">
							<div class="single_player">
								<div class="jp-jplayer jplayer" data-ancestor=".jp_container_4" data-url="music-files/Khalid-Saved.mp3"></div>
								<div class="jp-audio jp_container_4" role="application" aria-label="media player">
									<div class="jp-gui jp-interface">

										<!-- Player Controls -->
										<div class="player_controls_box">
											<button class="jp-prev player_button" tabindex="0"></button>
											<button class="jp-play player_button" tabindex="0"></button>
											<button class="jp-next player_button" tabindex="0"></button>
											<button class="jp-stop player_button" tabindex="0"></button>
										</div>

										<!-- Progress Bar -->
										<div class="player_bars">
											
											<div class="jp-progress">
												<div class="jp-seek-bar">
													<div>
														<div class="jp-play-bar"><div class="jp-current-time" role="timer" aria-label="time">0:00</div></div>
													</div>
												</div>
											</div>
											<div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
										</div>
									</div>
									<div class="jp-no-solution">
										<span>Update Required</span>
										To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2">
						<div class="songs-links">
							<a href=""><img src="img/icons/p-1.png" alt=""></a>
							<a href=""><img src="img/icons/p-2.png" alt=""></a>
							<a href=""><img src="img/icons/p-3.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>
			<!-- song -->
	</section>
	<!-- Songs section end -->	
		<!-- Footer section -->
		<footer class="footer-section" >
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-lg-7 order-lg-2">
						<div class="row">
							<div class="col-sm-4">
								<div class="footer-widget">
									<h2>About us</h2>
									<ul>
										<li><a href="">Our Story</a></li>
										<li><a href="">Sol Music Blog</a></li>
										<li><a href="">History</a></li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="footer-widget">
									<h2>Products</h2>
									<ul>
										<li><a href="">Music</a></li>
										<li><a href="">Subscription</a></li>
										<li><a href="">Custom Music</a></li>
										<li><a href="">Footage</a></li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="footer-widget">
									<h2>Playlists</h2>
									<ul>
										<li><a href="">Newsletter</a></li>
										<li><a href="">Careers</a></li>
										<li><a href="">Press</a></li>
										<li><a href="">Contact</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-5 order-lg-1">
						<img src="img/logo.png" alt="">
						<div class="copyright">
	Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Gamblers Team
	</div>
						<div class="social-links">
							<a href=""><i class="fab fa-instagram"></i></a>
							<a href=""><i class="fab fa-pinterest-p"></i></a>
							<a href=""><i class="fab fa-facebook-f"></i></a>
							<a href=""><i class="fab fa-twitter"></i></a>
							<a href=""><i class="fab fa-youtube"></i></a>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- Footer section end -->
	
	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/mixitup.min.js"></script>
	<script src="js/main.js"></script>

	<!-- Audio Players js -->
	<script src="js/jquery.jplayer.min.js"></script>
	<script src="js/wavesurfer.min.js"></script>

	<!-- Audio Players Initialization -->
	<script src="js/WaveSurferInit.js"></script>
	<script src="js/jplayerInit.js"></script>

	

	<!-- script icon -->
	<script src="https://kit.fontawesome.com/a033427c19.js" crossorigin="anonymous"></script>

	</body>
</html>
