
/*----------------------------------------*/
/*  default CSS
/*----------------------------------------*/

html,
body {
	height: 100%;
	font-family: "Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #0a183d;
	font-weight: 600;
	line-height: 1;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 15px;
	color: #6a7080;
	line-height: 1.8;
	font-weight: 500;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

.slicknav_menu {
	display: none;
}

/*---------------------
Helper CSS
 -----------------------*/

.section-title {
	margin-bottom: 60px;
}

.section-title h2 {
	font-size: 60px;
}



.spad {
	padding-top: 105px;
	padding-bottom: 105px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/*---------------------
Commom elements
 -----------------------*/

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/*------------------
Header section
 ---------------------*/

.header-section {
	padding-left: 55px;
	padding-right: 72px;
	background: #08192d;
}

.site-logo {
	display: inline-block;
	padding: 0;
	padding: 5px 100px;
}


.main-menu {
	list-style: none;
	float: right;
	margin-right: 100px;
}

.main-menu li {
	display: inline-block;
	position: relative;
}

.main-menu li a {
	display: block;
	font-size: 16px;
	color: #ffffff;
	padding: 44px 10px;
	margin-left: 60px;
}

.main-menu li a:hover {
	color: #fc0254;
}

.main-menu li:first-child a {
	margin-left: 0;
}



/*------------------
Hero section
 ---------------------*/

.hero-section {
	overflow: hidden;
}

.hs-item {
	height: 650px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #0a183d;
}

.hs-item h2 {
	color: #fff;
	font-size: 50px;
	margin-bottom: 25px;
	line-height: 0.9;
	position: relative;
	top: 50px;
	opacity: 0;
}

.hs-item h2 span {
	color: #fc0254;
}

.hs-item p {
	color: #ffffff;
	opacity: 0.6;
	margin-bottom: 50px;
	position: relative;
	top: 50px;
	opacity: 0;
}


.hs-item .hs-text {
	padding-top: 90px;
	max-width: 550px;
}

.hr-img img {
	min-width: 602px;
	position: relative;
	left: -34px;
	top: 50px;
	opacity: 0;
}

.owl-item.active .hs-item img,
.owl-item.active .hs-item h2,
.owl-item.active .hs-item p,
.owl-item.active .hs-item .site-btn,
.owl-item.active .hs-item .site-btn.sb-c2 {
	top: 0;
	opacity: 1;
}

.owl-item.active .hs-item img {
	-webkit-transition: all 0.5s ease 0.2s;
	transition: all 0.5s ease 0.2s;
}

.owl-item.active .hs-item h2 {
	-webkit-transition: all 0.5s ease 0.4s;
	transition: all 0.5s ease 0.4s;
}

.owl-item.active .hs-item p {
	-webkit-transition: all 0.5s ease 0.6s;
	transition: all 0.5s ease 0.6s;
}

.owl-item.active .hs-item .site-btn {
	-webkit-transition: all 0.5s ease 0.8s;
	transition: all 0.5s ease 0.8s;
}

.owl-item.active .hs-item .site-btn.sb-c2 {
	-webkit-transition: all 0.5s ease 1s;
	transition: all 0.5s ease 1s;
}

/* ----------------
Concept section
 -------------------*/

.concept-section p {
	padding-top: 5px;
}

.concept-item {
	text-align: center;
	padding-top: 100px;
}

.concept-item img {
	border-radius: 40px;
	margin-bottom: 15px;
}

/* ----------------

Responsive
 -------------------*/

.footer-section {
	background: #0a183d;
	padding: 100px 0 85px;
}

.footer-widget {
	padding-top: 2px;
}

.footer-widget h2 {
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.footer-widget ul {
	list-style: none;
}

.footer-widget ul li a {
	display: inline-block;
	color: #6a7080;
	font-size: 14px;
	margin-bottom: 10px;
}

.copyright {
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 500;
	color: #505565;
	padding: 10px 0 25px;
}

.social-links a {
	display: inline-block;
	color: #6a7080;
	font-size: 18px;
	margin-right: 35px;
}


/* ----------------
Responsive
 -------------------*/

@media (min-width: 1200px) {
	.container {
		max-width: 1176px;
	}
}

/* Medium screen : 992px. */

@media only screen and (min-width: 1200px) and (max-width: 1360px) {

	.main-menu li a {
		margin-left: 25px;
	}
	
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.header-section {
		padding-left: 15px;
		padding-right: 20px;
	}
	
	.main-menu li a {
		margin-left: 15px;
	}
	
	.hr-img img {
		min-width: 500px;
		position: relative;
	}
	.sub-list {
		padding: 70px 15px 50px 90px;
	}
	
	.contact-warp {
		padding: 100px 15px 60px 40px;
	}
	.category-section {
		padding: 100px 0;
	}
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.hr-img {
		display: none;
	}
	.slicknav_menu {
		display: block;
		background: transparent;
		margin-top: -60px;
	}
	
	.slicknav_nav {
		background: #1c294a;
		margin-bottom: 35px;
	}
	.slicknav_nav ul {
		margin: 0 0 0 0;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 12px 25px;
		margin: 0;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		color: #fc0254;
		background: transparent;
	}
	.slicknav_btn {
		position: relative;
		top: -24px;
		background:white;
	}
	.main-menu {
		display: none;
	}

	.sub-text {
		margin-bottom: 50px;
	}
	.footer-widget {
		margin-bottom: 40px;
	}
	
	

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.hr-img {
		display: none;
	}
	.slicknav_menu {
		display: block;
		background: transparent;
		margin-top: -60px;
	}
	.slicknav_nav {
		background: #1c294a;
		margin-bottom: 35px;
	}
	.slicknav_nav ul {
		margin: 0 0 0 0;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 12px 25px;
		margin: 0;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		color: #fc0254;
		background: transparent;
	}
	.slicknav_btn {
		position: relative;
		top: -24px;
		background: #1c294a;
	}
	.main-menu {
		display: none;
	}
	
	
	.sub-list {
		padding: 60px 15px 50px 30px;
	}
	.sub-text {
		margin-bottom: 50px;
	}
	.footer-widget {
		margin-bottom: 40px;
	}

	.artist-details img {
		float: none;
		margin-bottom: 30px;
	}
	
	.tarck-thumb-warp {
		width: 100%;
	}
	.tarck-thumb-warp .tarck-thumb {
		margin: 0 auto;
	}
	
	
	.songs-details-section {
		padding: 100px 0px 50px;
	}

	.category-section {
		padding: 105px 0;
	}
	.category-section .container {
		max-width: 100%;
	}
	.header-section {
		padding: 0 15px;
	}

}

/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
	.section-title h2,
	.hs-item h2,
	.sub-text h2 {
		font-size: 36px;
	}
	
	.header-section {
		padding: 0;
	}
	
	.contact-warp {
		padding: 100px 15px;
	}
	
	.song-details-box .jp-duration {
		bottom: -19px;
	}
	.jp-duration {
		bottom: -31px;
	}
	.song-details-box .song-item {
		margin-bottom: 40px;
	}
	
	.social-links a {
		margin-right: 20px;
	}
	.search-form {
		text-align: center;
	}
	.search-form input {
		padding-right: 41px;
	}
	.search-form button {
		position: relative;
		margin-top: 20px;
	}
}
